.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
header,
main,
footer {
  margin: 1rem;
  padding: 0.5rem;
  background-color: rgb(233, 128, 102);
}
main {
  padding: 4rem;
  background-color: white;
}
.arraybutton {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}
.countercircle {
  padding: 0.5rem;
  margin-left: 40%;
  border-radius: 50%;
  width: 20vw;
  height: 20vw;
  border-width: 5px;
  border-style: solid;
  border-color: cyan;
  background-color: cyan;
  align-items: center;
  align-content: center;
  text-align: center;
}
button {
  padding: 1rem;
  margin: 2rem;
  background-color: antiquewhite;
  color: brown;
  border-radius: 10%;
}
.countercircle p {
  color: teal;
  font-size: 5rem;
  /* padding-top: 0.25rem;
  margin-bottom: 2rem;
  padding-bottom: 1rem; */
  text-align: center;
}
.circle {
  color: teal;
  font-size: 5rem;
  text-align: center;
  padding: 0.5rem;
  margin-left: 40%;
  border-radius: 50%;
  width: 20vw;
  height: 20vw;
  border-width: 5px;
  border-style: solid;
  border-color: cyan;
  background-color: cyan;
  align-items: center;
  align-content: center;
  text-align: center;
  background-color: #61dafb;
  padding-top: 1.5rem;
}
.even {
  color: teal;
  font-size: 5rem;
  text-align: center;
  padding: 0.5rem;
  margin-left: 40%;
  border-radius: 50%;
  width: 20vw;
  height: 20vw;
  border-width: 5px;
  border-style: solid;
  border-color: cyan;

  align-items: center;
  align-content: center;
  text-align: center;

  background-color: orange;
  padding-top: 1.5rem;
}
.odd {
  color: teal;
  font-size: 5rem;
  text-align: center;
  padding: 0.5rem;
  margin-left: 40%;
  border-radius: 50%;
  width: 20vw;
  height: 20vw;
  border-width: 5px;
  border-style: solid;
  border-color: cyan;

  align-items: center;
  align-content: center;
  text-align: center;
  background-color: yellow;
  padding-top: 1.5rem;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
